html 
    head 
        title Create Table

    body 
        h1 Create Table 
        form(action='/home/createTable', method = 'post')
            label(for='name') Table Name: 
            input(type='text', id='name', name='name', required)
            br
            label(for='minimum') Minimum Bet:
            input(type='number', id='min', name='min', required)
            br
            label(for='maximum') Maximum Bet: 
            input(type='number', id='max', name='max')
            br
            label(for='plimit') Maximum Players:
            input(type='number', id='plimit', name='plimit')
            br
            button(type='submit') Submit
        
        form(action='/home', method='get')
            button(type='submit') Back