html 
    head 
        title Game 

    body 
        h1 Game 

        form(action=`/games/${gameID}/leave`, method='post')
            button(type='submit') Leave 
        form(action='/home', method='get')
            button(type='submit') games

        