html
  head
    title #{title}
    link(rel='stylesheet' href='/stylesheets/home.css')

  body
    header
      form(action='/', method='get')
        button(type='submit') Home 
      br
    block content