html 
    head 
        title Login 
        link(rel='stylesheet' href='/stylesheets/home.css')
        script(src="/scripts/bundle.js")
    body 
        h1 Log In 
        for(action='/login', method='post')
            label(for='username') Username: 
            input(type='text', id='username', name='username', required)
            br
            label(for='password') Password:
            input(type='type', id='password', name='password', required)
            br
            button(type='submit') Log In 
        
        form(action='/', method='get')
            button(type='submit') Home 
        
        form(action='/register', method='get')
            button(type='submit') Register