
html 
    head 
        title Register 
        link(rel='stylesheet' href='/stylesheets/home.css')
        script(src="/scripts/bundle.js")
    body 
        h1 Register 
        form(action='/register', method='post')
            label(for='name') Name: 
            input(type='text', id='name', name='name', required)
            br
            label(for='username') Username: 
            input(type='text', id='username', name='username', required)
            br
            label(for='password') Password: 
            input(type='text', id='password', name='password', required)
            br
            button(type='submit') Register 
        
        form(action='/', method='get')
            button(type='submit') Home
        
        form(action='/login', method='get')
            button(type='submit') Login