body {
    background: rgb(199,182,255);
    background: radial-gradient(circle, rgba(199,182,255,1) 0%, rgba(151,115,200,1) 100%);
    display: grid;
    grid-template-rows: 3rem auto;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header{
    grid-row: 1 / span 1;
    position: relative;
    border: solid black 1px;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 40% 10%;
    background-color: black;
}

#logo-picture{
    height: 32px;
    width: 32px;
    border: solid white 1px;
    margin-right: 3pt;
}

#logo-link{
    text-decoration: none;
    align-self: center;
    padding-left: 1rem;
    font-size: 2rem;
    color: white;
    white-space: nowrap;
    display: flex;
    align-content: center;
}

#username{
    color: white;
    text-align: right;
    padding-right: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

#logout{
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
    white-space: nowrap;
    background: rgb(246,195,90);
    background: radial-gradient(circle, rgba(246,195,90,1) 0%, rgba(255,164,42,1) 100%);
}

#logout:hover {
    background: rgb(226,175,70);
    background: radial-gradient(circle, rgba(226,175,70,1) 0%, rgba(255,144,22,1) 100%);
}

#table-container{
    background-color: white;
    min-width: 300px;
    width: 40%;
    min-height: 300px;
    height: 70%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    display: grid;
    grid-template-rows: 15% auto 15%;
}

input{
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid black 1px;
}

.button{
    width: 100%;
    margin: 1%;
    padding: 1%;
    background: rgb(246,195,90);
    background: radial-gradient(circle, rgba(246,195,90,1) 0%, rgba(255,164,42,1) 100%);
    border: none;
    cursor: pointer;
}

button:hover{
    background: rgb(226,175,70);
    background: radial-gradient(circle, rgba(226,175,70,1) 0%, rgba(225,144,22,1) 100%);
}

h1{
    font-weight: normal;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

input{
    margin-top: 1%;
    margin-bottom: 3%;
    background: linear-gradient(rgba(148,119,249,1) 0%, rgba(106,49,185,1) 100%) bottom / 0 10% no-repeat;
    transition: 1s;
}

input:focus{
    outline: none;
    background-size: 100% 3px;
}

#error-message{
    color: red;
    text-align: center;
}